.worktable-editable {
  margin-top: 1rem;
}

.worktable {
}

.worktable-board {
  padding: 4rem;
}

.worktable-board-quiet-zone-white {
  background: white;
}

.worktable-board-quiet-zone-black {
  background: black;
}
